@import "variable";
.picker {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    font-size: @x-big;
    position: absolute;
    transition: background-color 300ms;
    transform: translateX(100%);
    z-index: 2;
    .pnl {
        left: 0;
        bottom: 0;
        width: 100%;
        height: @size + @size * 2 / 3 * 7;
        background-color: #fff;
        position: absolute;
        transform: translateY(100%);
        transition: transform 300ms;
        .flexColunm();
        &:after {
            content: "";
            top: @size + @size * 2 / 3 * 3;
            left: 0;
            width: 100%;
            height: @size * 2 / 3;
            .borderTop();
            .borderBottom();
            border-color: @mainColor;
            position: absolute;
            pointer-events: none;
        }
        .top {
            width: 100%;
            height: @size;
            line-height: @size;
            .borderBottom();
            .flexCenter();
            .btn {
                flex: 1;
                height: 100%;
                border: none;
                border-radius: 0;
                &.btn-confirm {
                    color: @mainColor;
                }
                &:not(:first-child) {
                    .borderLeft();
                }
            }
        }
        .content {
            width: 100%;
            display: flex;
            .scroll-pnl {
                .f1();
                height: @size * 2 / 3 * 7;
                overflow: hidden;
                .list {
                    position: relative;
                    user-select: none;
                    overflow: hidden;
                    .item {
                        width: 100%;
                        height: @size * 2 / 3;
                        .flexCenter();
                    }
                }
            }
        }
    }
    
}