.slider {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
    .slider-pnl {
        width: 400%;
        height: 100%;
        overflow: hidden;
        li {
            width: 25%;
            height: 100%;
            float: left;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}