.slider {
    width: 100%;
    overflow: hidden;
    position: relative;
    .slider-pnl {
        width: 400%;
        height: @size * 5;
        overflow: hidden;
        li {
            width: 25%;
            height: 100%;
            float: left;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    .indicators {
        width: 100%;
        .flexCenter();
        position: relative;
        .indicators-pnl {
            
        }
        .item {
            width: @space;
            height: @space;
            margin: @space @space / 2;
            .radius();
            background-color: @bg-dark;
            transition: background 300ms;
            &.active {
                background-color: @mainColor;
            }
        }
    }
}