@import "variable";
.tab {
    width: 100%;
    height: @size;
    display: flex;
    font-size: @big;
    background-color: #fff;
    position: relative;

    &.in-top {
        top: 0;
        left: 0;
        position: absolute;
    }

    &.in-bottom {
        bottom: 0;
        left: 0;
        position: absolute;
    }

    &.blue {
        .item {
            &:hover,
            &.active {
                background-color: @blue;
            }
        }
        &.border {
            .item {
                &:hover,
                &.active  {
                    &:after {
                        background-color: @blue;
                    }
                }
            }
        }
        &.not-bg {
            .item {
                &:hover,
                &.active {
                    color: @blue;
                    background-color: transparent;
                }
            }
        }
    }
    &.red {
        .item {
            &:hover,
            &.active {
                background-color: @red;
            }
        }
        &.border {
            .item {
                &:hover,
                &.active {
                    &:after {
                        background-color: @red;
                    }
                }
            }
        }
        &.not-bg {
            .item {
                &:hover,
                &.active {
                    color: @red;
                    background-color: transparent;
                }
            }
        }
    }
    &.green {
        .item {
            &:hover,
            &.active {
                background-color: @green;
            }
        }
        &.border {
            .item {
                &:hover,
                &.active {
                    &:after {
                        background-color: @green;
                    }
                }
            }
        }
        &.not-bg {
            .item {
                &:hover,
                &.active {
                    color: @green;
                    background-color: transparent;
                }
            }
        }
    }
    &.border {
        .item {
            background-color: transparent;
            &:hover,
            &.active {
                color: @defaultFont;
                background-color: transparent;
                &:after {
                    content: "";
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: @space / 2;
                    position: absolute;
                }
            }
            &:after {
                content: "";
                left: 50%;
                bottom: 0;
                width: 0%;
                height: @space / 3;
                transition: 300ms;
                position: absolute;
                background-color: @white;
            }
        }
    }
    &.group {
        .border(@white);
        .radius(@space);
        overflow: hidden;
        color: @bg-light;
        background-color: transparent;
        .item {
            &:after {
                display: none;
            }
            &:hover,
            &.active {
                color: @mainColor;
                background-color: @white;
            }
        }
    }
    &.not-bg {
        .item {
            &:hover,
            &.active {
                color: @white;
                background-color: transparent;
            }
        }
    }
    &.dark {
        color: @white;
        background-color: @bg-dark;
        .item {
            background-color: transparent;
            &:hover,
            &.active {
                background-color: @bg-dark-active;
            }
        }
    }
    &.light {
        color: @defaultFont;
        background-color: @bg-light;
        .item {
            background-color: transparent;
            &:hover,
            &.active {
                color: @defaultFont;
                background-color: @bg-light-active;
            }
        }
    }
    &.tab-mini {
        height: @size * 2 / 3; 
        font-size: @normal;
        &.border {
            .item {
                &:hover,
                &.active{
                    &:after {
                        height: @space / 4;
                    }
                }
            }
        }
        .item {
            &.has-icon {
                flex-direction: column;
                i {
                    font-size: .9em;
                    line-height: 1;
                }
                p {
                    font-size: .5em;
                }
            }
        }
    }
    .item {
        .f1();
        .flexCenter();
        position: relative;
        transition: 300ms;
        cursor: pointer;
        &:hover,
        &.active {
            color: #fff;
            background-color: @mainColor;
            cursor: pointer;
        }
        &.has-icon {
            flex-direction: column;
            i {
                font-size: 1.2em;
                line-height: 1;
            }
            p {
                font-size: .8em;
            }
        }
    }
}