.picker {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  font-size: 0.35rem;
  position: absolute;
  transition: background-color 300ms;
  transform: translateX(100%);
  z-index: 2;
}
.picker .pnl {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 6.6rem;
  background-color: #fff;
  position: absolute;
  transform: translateY(100%);
  transition: transform 300ms;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.picker .pnl .decorate {
  top: 3.4rem;
  left: 0;
  width: 100%;
  height: 0.8rem;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  border-color: #66ccff;
  background-color: #f0faff;
  position: absolute;
  pointer-events: none;
}
.picker .pnl .top {
  width: 100%;
  height: 1rem;
  line-height: 1rem;
  border-bottom: 1px solid #dddddd;
  display: flex;
  justify-content: center;
  align-items: center;
}
.picker .pnl .top .btn {
  flex: 1;
  height: 100%;
  border: none;
  border-radius: 0;
}
.picker .pnl .top .btn.btn-confirm {
  color: #66ccff;
}
.picker .pnl .top .btn:not(:first-child) {
  border-left: 1px solid #dddddd;
}
.picker .pnl .headers {
  top: 1rem;
  width: 100%;
  height: 0.66666667rem;
  line-height: 0.66666667rem;
  border-bottom: 1px solid #dddddd;
  z-index: 1;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.picker .pnl .headers .item {
  flex: 1;
  font-size: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.picker .pnl .content {
  width: 100%;
  display: flex;
  flex: 1;
}
.picker .pnl .content .scroll-pnl {
  width: 20%;
  height: 5.6rem;
  overflow: hidden;
  transition: width 300ms;
}
.picker .pnl .content .scroll-pnl .list {
  position: relative;
  user-select: none;
  overflow: hidden;
  animation: pickerItemShow 300ms;
}
.picker .pnl .content .scroll-pnl .list .item {
  width: 100%;
  height: 0.8rem;
  overflow: hidden;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes pickerItemShow {
  0% {
    opacity: .3;
  }
  100% {
    opacity: 1;
  }
}
