.picker {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  font-size: 0.35rem;
  position: absolute;
  -webkit-transition: background-color 300ms;
          transition: background-color 300ms;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  z-index: 2;
}
.picker .pnl {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5.66666667rem;
  background-color: #fff;
  position: absolute;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 300ms;
          transition: transform 300ms;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.picker .pnl:after {
  content: "";
  top: 3rem;
  left: 0;
  width: 100%;
  height: 0.66666667rem;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  border-color: #66ccff;
  position: absolute;
  pointer-events: none;
}
.picker .pnl .top {
  width: 100%;
  height: 1rem;
  line-height: 1rem;
  border-bottom: 1px solid #dddddd;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.picker .pnl .top .btn {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  border: none;
  border-radius: 0;
}
.picker .pnl .top .btn.btn-confirm {
  color: #66ccff;
}
.picker .pnl .top .btn:not(:first-child) {
  border-left: 1px solid #dddddd;
}
.picker .pnl .content {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.picker .pnl .content .scroll-pnl {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 4.66666667rem;
  overflow: hidden;
}
.picker .pnl .content .scroll-pnl .list {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow: hidden;
}
.picker .pnl .content .scroll-pnl .list .item {
  width: 100%;
  height: 0.66666667rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
